{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": [":ui", "ui"],
  "proseWrap": "always",
  "printWidth": 80,
  "singleQuote": true,
  "semi": false,
  "arrowParens": "avoid",
  "bracketSameLine": false
}
